<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Itim&family=Odibee+Sans&display=swap" rel="stylesheet">
    <title>AddChoice</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/AddChoice6.css') }}">
    <script src="{{ url_for('static', filename='js/addchioce2.js') }}"></script>

</head>



<body>
    <div class="container">
             <div class="Add-Sub" >
                 <p style="text-align: center; margin-top: 15px; font-weight: bold;" >- ADD SUBJECT -</p>
            <form action="/AddSubject" method="POST" name="Addsub">
                <p class="textinput">Subject Name : <br><input type="text" placeholder="Subject Name" name="Subname" id="Subname"></p>
                <p class="textinput">Subject ID : <br><input type="text" placeholder="Subject ID" name="Subid" id="Subid"></p>
                <button type="submit" class="BT-ADDSUB" onclick="return dataNull()">ADD</button> 
                <a href="/SubjectHome" style="margin-left: 100px;font-family: 'Odibee Sans', cursive;">Go to AddSubject !</a>
                
            </form> 
           
            </div> 
        <div class="borderform">
            <div class="title-web">
                <h1 style="text-align: center; font-family: 'Odibee Sans', cursive; font-size: 45px; margin: 10px;"> Add Choice</h1>
            </div>
            
            <div class="AddQuiz">
                <form action="{{ url_for('insertChoice') }}" method="POST" name="AddChoice" >
                    <p>SUBJECT : <br> <select name="Subject" id="Subject" class="Select">
                        {% for Sub in data.each() %}
                        <option value="{% print(Sub.val()['SUBNAME']) %}">{% print(Sub.val()['SUBNAME']) %}</option>
                        {% endfor %}
                    </select></p>
                    <p>Quiz ? : <br><input type="text" placeholder="โจทย์" name="Proposition" id="Proposition"></p>
                    <p>Choice 1 : <br><input type="text" placeholder="ตัวเลือกที่ 1" name="Ch1" id="Ch1" ></p>
                    <p>Choice 2 : <br><input type="text" placeholder="ตัวเลือกที่ 2" name="Ch2" id="Ch2" ></p>
                    <p>Choice 3 : <br><input type="text" placeholder="ตัวเลือกที่ 3" name="Ch3" id="Ch3" ></p>
                    <p>Choice 4 : <br><input type="text" placeholder="ตัวเลือกที่ 4" name="Ch4" id="Ch4" ></p><br>

                    <fieldset class="fieldset">
                        <legend> <p>Answer Chioce</p></legend>
                    
                        <div class="Answer-Choice">
                            <div class="radio-con">
                            <input type="radio" id="radio1" name="Answer" value="Answer1"><label for="radio1">Choice 1</label>
                            <input type="radio" id="radio2" name="Answer" value="Answer2"><label for="radio2">Choice 2</label>
                            <input type="radio" id="radio3" name="Answer" value="Answer3"><label for="radio3">Choice 3</label> 
                            <input type="radio" id="radio4" name="Answer" value="Answer4"><label for="radio4">Choice 4</label>
                            </div>
                        </div>
                    </fieldset>
                    <div class="Button-Add">
                        <button type="submit" class="BTSubmit" onclick="return checkdata()">Submit</button>
                        <button type="reset" class="BTReset">Reset</button>
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>