<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpDate or Delete</title>

    <script src="//code.jquery.com/jquery-1.12.3.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
<script
    src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
<link rel="stylesheet"
    href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet"
    href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css">

</head>


<body>
    <div>
    <table id="table"  style="width:700px ; border: none;">
        <thead>
            <tr>
                <th>#</th>
                <th >Quiz ?</th>
                <th>Choice 1</th>
                <th >Choice 2</th>
                <th >Choice 3</th>
                <th class="text-center">Choice 4</th>
                <th class="text-center">Answer</th>
                <th class="text-center" style="display: none; " >Edit</th>
                <th class="text-center" style="display: none;">Delete</th>
            </tr>   
        </thead>
        <tbody>
            
            {% for l in data.get().each() %}
            <tr>
            <form action="" method="GET">
                <td ><input type="text" name="" id="" value="{% print(l.val()['ID']) %}" readonly  style="width: 50px; text-align: center;"></td>
                <td><input type="text" value="{% print(l.val()['Qu']) %}"  ></td>
                <td><input type="text" value="{% print(l.val()['C1']) %}" ></td>
                <td><input type="text" value="{% print(l.val()['C2']) %}" ></td>
                <td><input type="text" value="{% print(l.val()['C3']) %}" ></td>
                <td><input type="text" value="{% print(l.val()['C4']) %}" ></td>
                <td><input type="text" value="{% print(l.val()['ans']) %}" ></td>
                <td><button type="submit" value="Edit" name="Action">Edit</button></td>
                <td><button type="submit" value="Delete" name="Action">Delete</button></td>
            
            </form>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>#</th>
                <th >Quiz ?</th>
                <th>Choice 1</th>
                <th >Choice 2</th>
                <th >Choice 3</th>
                <th class="text-center">Choice 4</th>
                <th class="text-center">Answer</th>
                <th class="text-center" style="display: none; " >Edit</th>
                <th class="text-center" style="display: none;">Delete</th>
            </tr>   
        </tfoot>
    </table>
    </div>
    
      <script>
         
         $(document).ready(function() {
            $('#table').DataTable( {
                "processing": true,

            } );
} );
 
      </script>


    
    

</body>
</html>