<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UpDate or Delete</title>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   
</head>


<body>
    
    <table border="2px"  id="table_id" class="table table-striped table-bordered">
        <thead style="text-align: center;">
            <tr>
                <td>NO.</td>
                <td>Subject</td>
                <td>Quiz ?</td>
                <td>Choice 1</td>
                <td>Choice 2</td>
                <td>Choice 3</td>
                <td>Choice 4</td>
                <td>Answer</td>
            </tr>   
        </thead>

        <tbody>
        {% for l in data.get().each() %}
             
        <form action="" method="GET">
        <tr>
               
            <td><input type="text" value="{% print(l.val()['ID']) %}" readonly name="NO"></td>
            <td><input type="text" value="{% print(l.val()['subject']) %}"  ></td>
            <td><input type="text" value="{% print(l.val()['Qu']) %}"  ></td>
            <td><input type="text" value="{% print(l.val()['C1']) %}" ></td>
            <td><input type="text" value="{% print(l.val()['C2']) %}" ></td>
            <td><input type="text" value="{% print(l.val()['C3']) %}" ></td>
            <td><input type="text" value="{% print(l.val()['C4']) %}" ></td>
            <td><input type="text" value="{% print(l.val()['ans']) %}" ></td>
            <td><button type="submit" value="Edit" name="Action">Edit</button></td>
            <td><button type="submit" value="Delete" name="Action">Delete</button></td>
            
        </tr>
        
        </form>
        {% endfor %}
        </tbody>
    </table>

    
    

</body>
</html>