body{
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    background-image: url("/static/image/addchiose.jpg");
}
.borderform{
    background-color: rgb(255, 255, 255,0.6);
    margin: 3% 30%;
    width:700px;
    height: 630px;
    border:rgb(0, 0, 0, 0.8) solid 2px;
    border-radius: 20px;
    box-shadow: 0 0 20px
}
.AddQuiz p {
    margin: 3px 50px;
    font-family: 'Odibee Sans', cursive;
    font-size: 20px;
}
.AddQuiz p input[type=text]{
    text-align: center;
    width: 600px;
    height: 30px;
    border: #000000 solid 2px;
    transition: 0.5s;
    font-family: 'Itim', cursive;
    font-size: 20px;

}
.AddQuiz input[type=text]:focus{
    font-size: 25px;
    font-weight: bold;
    height: 33px;
    border: #09ff00 solid 2px;
    box-shadow: 0 0 15px rgb(72, 255, 0,0.5)
}
.Answer-Choice{
    text-align: center;
    font-family: 'Odibee Sans', cursive;
}
.radio-con{
    margin: 4px;
}
.Answer-Choice input[type=radio]{

    display: none;
    margin:20px;
}
.Answer-Choice input[type=radio] + label{
    display:inline-block;
    width: 80px;
    height: 40px;
    margin-left: 40px;
    background-color: none;
    border: rgb(0, 0, 0) solid 2.5px;
    transition: 0.6s;
    text-align: center;
}
.Answer-Choice label{
    line-height: 40px;
}
.Answer-Choice input[type=radio]:checked + label{
    border: rgb(72, 255, 0) solid 3px;
    color: rgb(54, 255, 14);
    box-shadow: 0 0 20px rgba(0, 255, 34, 0.6);
    border-radius: 20px;
}
.Button-Add{
    text-align: center;
    margin-top: 15px;

}
.Button-Add .BTSubmit {
    background-color: white;
    width: 150px;
    height: 50px;
    border: rgb(40, 133, 21) solid 1.5px;
    color: rgb(28, 168, 0);
    transition: 0.8s;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Odibee Sans', cursive;
}
.Button-Add .BTSubmit:hover {
    background-color: rgba(12, 173, 52, 0.726);
    border: rgb(59, 190, 33) solid 1.5px;
    color: rgb(255, 255, 255);
}
.Button-Add .BTReset {
    background-color: white;
    width: 150px;
    height: 50px;
    border: rgb(236, 69, 69) solid 1.5px;
    color: rgb(248, 0, 0);
    transition: 0.8s;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Odibee Sans', cursive;
}
.Button-Add .BTReset:hover {
    background-color: rgba(255, 0, 0, 0.726);
    border: rgba(255, 0, 0, 0.726) solid 1.5px;
    color: rgb(255, 255, 255);
}

fieldset {
    margin-left: 35px;
    border: 2px solid #ff0000;
    width: 600px;
    height: 90px;
    border-radius: 10px;
}

fieldset legend {
    color: rgb(255, 0, 0);
    font-size: 20px;
    border-radius: 5px;
    margin-left: 40px;
}
