.borderform{
    background-color: white;
    margin: 5% 30%;
    width:500px;
    height: 520px;
    border:black solid 1px;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 15px
}

.AddQuiz input[type=text]{
    text-align: center;
    width: 500px;
    height: 30px;
    border: #000000 solid 1.5px;
    transition: 0.5s;
}
.AddQuiz input[type=text]:focus{
    width: 200px;
    height: 33px;
    border: #09ff00 solid 2px;
    box-shadow: 0 0 15px rgb(72, 255, 0,0.5)
}
.Answer-Choice input[type=radio]{
    display: none;
    margin:20px;
}
.Answer-Choice input[type=radio] + label{
    display:inline-block;
    width: 80px;
    height: 40px;
    margin-left: 15px;
    background-color: none;
    border: rgb(255, 0, 0) solid 1.5px;
    transition: 0.5s;
}
.Answer-Choice label{
    line-height: 40px;
}
.Answer-Choice input[type=radio]:checked + label{
    font-size: 20px;
    border: rgb(72, 255, 0) solid 2px;
    color: rgb(54, 255, 14);
    border-radius: 20px;
}
.Button-Add .BTSubmit {
    background-color: white;
    width: 100px;
    height: 40px;
    border: rgb(40, 133, 21) solid 1.5px;
    color: rgb(28, 168, 0);
    transition: 0.8s;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
}
.Button-Add .BTSubmit:hover {
    background-color: rgba(12, 173, 52, 0.726);
    border: rgb(59, 190, 33) solid 1.5px;
    color: rgb(255, 255, 255);
}
.Button-Add .BTReset {
    background-color: white;
    width: 100px;
    height: 40px;
    border: rgb(236, 69, 69) solid 1.5px;
    color: rgb(248, 0, 0);
    transition: 0.8s;
    border-radius: 25px;
    font-size: 14px;
    font-weight: bold;
}
.Button-Add .BTReset:hover {
    background-color: rgba(255, 0, 0, 0.726);
    border: rgba(255, 0, 0, 0.726) solid 1.5px;
    color: rgb(255, 255, 255);
}
