body{
    background-size: 100% 100%;
    background-position: center;
    height: 100vh;
    margin: 0;
    /* background-image: linear-gradient(-20deg, #0b0b31 0%, #181131 100%); */
    background-image: url("/static/image/G8Wall.jpg");
}

.form-login{
    margin: 2% 33%;
    width: 460px;
    height: 280px;
    background-color: rgba(126, 126, 126, 0.8);
    border-radius: 20px;
    color: rgba(190, 51, 0, 0.89);
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 20px rgba(0, 0, 0);
    font-family: 'Acme', sans-serif;
    font-size: 20px;
}
.form-login input[type=text],input[type=password]{
    /* background-color: rgba(255, 255, 255, 0.2); */
    width: 270px;
    height: 50px;
    text-align: center;
    /* color: rgb(255, 255, 255); */
    border:2px solid black ;

    border-radius: 25px;
    font-size: 20px;
    font-family: 'Acme', sans-serif;
    transition: 0.8s;
}
.form-login input[type=text]:focus ,input[type=password]:focus{
    width: 300px;
    /* background: rgb(255, 255, 255,0.8);
    color: rgb(255, 115, 0); */
    box-shadow: 0 0 15px rgb(255, 30, 0);

}
.form-login .title{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: rgb(131, 34, 10);
}
.form-login .Datainput{
    text-align: center;
    margin: 10px 20px;
}
.Logo {
    margin: 2% 38%;
    width: 300px;
    height: 300px;
    background:none;
}
.form-login .GoPlay{
    margin: 5% 10%;
    width: 100%;
    height: 20px;
    color: rgb(6, 95, 51);
}
.form-login .buttonSub{

    width: 100px;
    height: 45px;
    color: white;
    background: rgb(3, 84, 206,0.6);
    border: rgb(255, 255, 255) solid 2px ;
    border-radius: 20px;
    margin-left: 300px;
    font-family: 'Acme', sans-serif;
    font-weight: bold;
    font-size: 20px;
    transition: 0.8s;
}
.form-login .buttonSub:hover{
    background: rgba(27, 102, 216, 0.6);
    color: rgb(0, 255, 0);
    border: rgb(9, 255, 0) solid 2px ;
    box-shadow: 0 0 15px rgb(9, 255, 0) ;
}
.modal-body input[type='text'], input[type='password']{
  border: 2px solid black;
}
.modal-body .but-add{
  border: black 2px solid;
  font-weight: bold;
  background: rgba(63, 63, 206, 0.658);
  margin-left: 10px;
  transition: 0.8s;
}
.modal-body .but-add:hover{
  border-radius: 10px;
  background: rgb(9, 99, 24);
}
.modal-body .but-Delete{
  border: black 2px solid;
  font-weight: bold;
  background: rgba(255, 0, 34, 0.658);
  margin-left: 10px;
  margin-top: 10px;
  transition: 0.8s;
}
.modal-body .but-Delete:hover{
  background: brown;
  border-radius: 10px;
}
